<div>Без форматування: {{myDate}}</div>
<div>З форматуванням: {{myDate | date}}</div>

<div>{{welcome | uppercase}}</div>
<div>{{welcome | lowercase}}</div>
<div>{{persentage | percent}}</div>
<div>{{persentage | currency}}</div>

<div>{{welcome | slice:3}}</div>
<div>{{welcome | slice:6:11}}</div>

<div>{{myNewDate | date:"dd/MM/yyyy"}}</div>

<div>{{pi | number:'2.1-2'}}</div>
<div>{{pi | number:'3.5-5'}}</div>

<div>{{money | currency:'EUR':'code'}}</div>
<div>{{money | currency:'EUR':'symbol-narrow'}}</div>
<div>{{money | currency:'EUR':'code':'1.1-1'}}</div>
<div>{{money | currency:'EUR':'symbol-narrow':'1.1-1'}}</div>
<div>{{money | currency:'EUR':'Тільки сьогодні за ціною: '}}</div>

<div>{{message | slice:6:11 | uppercase}}</div>

<div>Число до форматування: {{x}}<br>Число після форматування: {{x | format}}</div>

<hr />
<div>{{users | join}}</div>
<div>{{users | join:1}}</div>
<div>{{users | join:1:3}}</div>

<hr />
<div>Число до знаходження кореня: {{numberBeforeRoot1}}<br>Число після знаходження кореня: {{numberBeforeRoot1 | root}}
</div>
<br>
<div>Число до знаходження кореня: {{numberBeforeRoot2}}<br>Число після знаходження кореня: {{numberBeforeRoot2 | root}}
</div>